* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #ce8423c9;
    --secundaria: #929292a1;
    --escuro: #0f172a;
    --maisEscuro: #0c0c0c;
    --claro: #e2e8f0;
    --vidro: rgba(126, 126, 126, 0.1);
}

body {
    background-color: var(--maisEscuro);
    color: var(--claro);
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(42, 35, 15, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
    backdrop-filter: blur(30px);
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.4s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.foto-perfil {
    box-shadow: 0 0 20px var(--primaria);
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.6);
    animation: flutuar 5s ease-in-out infinite;
    margin-top: 157px;
    width: 12%;

}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.lang {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.lang img {
    width: 50px;
}

.sub-titulo {
    font-size: 1.5rem;
    color: var(--claro);
    padding: 1rem;

}

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    padding: 1rem;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(156, 87, 9, 0.1);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.4rem;
}

.projetos {
    padding: 6rem 3rem;
}

.Projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}

.Projetos-card {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(30px);
    border: 1px solid var(--vidro);
    overflow: hidden;
}

.botao-projeto {
    text-decoration: none;
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 0.3rem;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 50%;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projeto-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.Projetos-card:hover {
    box-shadow: 0 0 20px var(--primaria);
    transform: translateY(-10px) scale(1.03);
    transition: all 0.5s ease;
    cursor: pointer;
}

.caixa-texto-p {
    padding: 2.5rem;
}

.p-projetos {
    color: rgba(235, 234, 245, 0.8);
    line-height: 1.25rem;
}

.info-projetos {
    margin-bottom: 5px;
}

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulário-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(126, 126, 126, 0.1);
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blu(5px);
    padding: 2rem;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(126, 126, 126, 0.1);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px var(--primaria);
}

.grupo-form {
    margin-bottom: 1.5rem;

}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 10px var(--primaria);
    transition: all 0.5s ease;
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
        var(--maisEscuro);
}

.ia-image {
    position: fixed;
    top: 7%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

.ia-image-2 {
    position: fixed;
    top: 62%;
    left: 68%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}


footer {
    text-align: center;
    padding: 9px;
}

.redes-sociais {

    display: block;
    justify-content: center;
}

.redes-sociais img {
    width: 50px;
    margin: 5px;
}


@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}

@media (max-width: 768px) {

    .foto-perfil {
        width: 122px;
    }

    h1 {
        font-size: 2rem;
        color: var(--primaria);
        font-weight: bold;
        margin: 0px;
    }

    .menu {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 2rem;

    }

    .lang img {
        width: 20px;
    }

    .ia-image img {
        width: 229px;
        margin-top: 30px;
    }

    .ia-image-2 {
        position: fixed;
        top: 79%;
        left: 34%;
        z-index: -1;
        opacity: 0.7;
    }

    .ia-image-2 img {
        width: 312px;
    }

    .sobre-caixa {
        padding: 1rem;
        max-width: 800px;
        margin: 0 auto;
        border-radius: 16px;
        border: 1px solid var(--vidro);
        backdrop-filter: blur(10px);
        background: rgba(156, 87, 9, 0.1);
    }

    .sobre-titulo {
        font-size: 2rem;
        color: var(--claro);
        text-align: center;
        padding: 1rem 16px;
    }

    .projeto-img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        padding: 10px;
    }

    .Projetos-caixa {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;

        margin: 44px;
    }

    .Projetos-titulo {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 50px;
    }

    .contatos-titulo {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 50px;
    }

    .botao-projeto {
        text-decoration: none;
        color: var(--claro);
        background: linear-gradient(45deg, var(--primaria), var(--secundaria));
        padding: 0.2rem;
        margin: 10px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        width: 90%;
        transition: all 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .particulas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.5;
        background: radial-gradient(circle at 10% 15%, var(--primaria) 0%, transparent 20%), radial-gradient(circle at 90% 90%, var(--secundaria) 0%, transparent 20%), var(--maisEscuro);
    }
}